.firstsection {
    display: flex;
    padding: 160px 0 100px;
    > div {
        img {
            width: 100%;
        }
    }
    .left {
        h1 {
            font-size: 50px;
            line-height: 70px;
            margin-bottom: 30px;
        }
        h4 {
            font-weight: normal;
            font-size: 25px;
            line-height: 35px;
            margin-bottom: 30px;
        }
        button {
            @include buttons;
        }
        span {
            @include spanBetween;
        }
        a {
            @include useMail;
        }
    }
}
