nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    background-color: white;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: $section-border;
        padding: 20px 0;
    }
    .menu {
        display: flex;
        align-items: center;
        li {
            display: inline-block;
            font-weight: bold;
            font-size: 14px;
            padding: 0 15px;
        }
        button {
            margin-left: 20px;
            padding: 5px 10px;
            border: 1px solid $blue-color;
            color: $blue-color;
            font-weight: bold;
            background-color: white;
            &:hover {
                color: white;
                background-color: $blue-color;
            }
        }
    }
}
